/*头部标题--字体显示--布满页面*/
.t_Abnorma {
    color: #ffffff;
    font-size: 50%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 50%;
}
/*头部列标题--显示图片--布满页面*/
.t_h_Abnorma {
    width: 50%;
    height: 100%;
    line-height: 50px;
    background-size: 100% 100%;
    text-align: center;
    color: #67e0e3;
}
/*表格内容--显示图片--布满页面*/
.main_table {
    width: 100%;
    height: 100%;
    line-height: 50px;
    background-size: 100% 100%;
    text-align: center;
    color: darkgray;
    position: relative;
    top: 10px;
    left: 0px;
    color: #ffffff;
}
